.NavLogo {
    height: 50px;
    width: 150px;
    background-color: wheat;
}

.NavigationMenuRoot {
    align-items: center;
}

.NavigationMenuList {
	display: flex;
    justify-content: space-between;
	background-color: red;
	padding: 4px;
	list-style: none;
	margin: 0;
    padding: 10px;

}

.NavigationMenuItem {
    align-self: center;
}